body {
  margin: 0;
  padding: 0;
  background-color: #111224;
  display: grid;
  flex-direction: column;
  /*min-height: 100vh;*/
  width: 100%;
  grid-column: 1 / -1;
}

.header {
  display: flex;
  background-color: #0d0e1d;
  height: 6em;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.4em solid #a6751b;
  /*width: 100%;*/
  grid-column: 1 / -1;
}

h1 {
  padding-left: 2em;
  color: aliceblue;
  font-family: "Cinzel", serif;
  font-size: 1em;
  width: 210px;
  /*flex-basis: 40%;*/
  /*border: 1px solid red;*/
}

.contenedorLogo {
  display: flex;
  justify-content: center;
  width: 210px;
  /*flex-basis: 20%;
  /*border: 1px solid red;*/
}

#home {
  display: block;
}

#carriles {
  display: none;
}

#campeones {
  display: none;
}

#estadisticasLol {
  display: none;
}

#contenedorRoles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin-bottom: 3.125em;
  width: 100%;
  justify-items: center;
}

.propiedadesRoles {
  width: 20em;
  height: 29em;
  background-color: #0d0e1d;
  background-size: contain;
  border-radius: 0.5em;
  border: #a6751b 0.3em outset;
  display: flex;
  flex-direction: column;
}

.propiedadesRoles:hover {
  width: 25em;
  height: 32em;
  background-color: #0d0e1d;
  background-size: contain;
  border-radius: 1em;
  border: #a6751b 0.6em outset;
  display: flex;
  flex-direction: column;
}

.contenedorSalonCampeones h2 {
  margin-bottom: 0%;
}
.contenedorSalonCampeones h2:hover {
  margin-bottom: 0%;
}
.contenedorSalonCampeones h3 {
  margin-bottom: 0%;
}

.contenedorSalonCampeones h3:hover {
  margin-bottom: 0%;
}

.contenedorSalonCampeones h4 {
  margin-bottom: 0%;
}

.contenedorSalonCampeones h4:hover {
  margin-bottom: 0%;
}

.contenedorSalonCampeones h5 {
  margin-bottom: 0%;
}

.contenedorSalonCampeones h5:hover {
  margin-bottom: 0%;
}

.contenedorCampeones {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: whitesmoke;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.contenedorCampeones p {
  font-size: 3em;
}

#tituloPorRoles {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  font-family: "Cinzel", serif;
  border-top: #a6751b solid 0.1em;
  font-size: 2em;
}

#salonCampeones {
  display: none;
}

/*NUEVO BOTON ORGANIZAR--------------------------------------------------------------------------------------*/

#contenedorBotonOrganizarAtaque {
  display: none;
}

#organizar {
  border-radius: 5px;
  padding: 0.4em 0.5em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 1em;
  font-weight: bold;
  color: #c8aa6e;
  background-color: #070d15;
  border-color: #a6751b;
  border-width: 0.14em;
  border-style: solid;
  margin-bottom: 2%;
}

/*NUEVO BOTON ORGANIZAR--------------------------------------------------------------------------------------*/

/*PAGINA DE ESTADISTICAS*/

#estadisticasTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  font-family: "Cinzel", serif;
  color: aliceblue;
}

#estadisticasTitulo h2 {
  margin: 1em 1em; /* se afecta arriba-abajo y derecha-izq*/
  font-size: 3em;
}

#datosCuriosos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.5em;
  /* es la distancia que hay entre cada tarjetica o div*/
  justify-items: center;
  justify-content: center;
  margin: 2em 22em;
  color: #111224;
}

.datos {
  /*la clase si se pueden compartir. Los id NO. La tarjeta*/
  width: 18em;
  height: 21em;
  background-color: #a6751b;
  border-radius: 0.5em;
  border: whitesmoke 0.2em outset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cinzel", serif;
  font-weight: bolder;
}

.datos:hover {
  width: 23em;
  height: 26em;
  background-color: #a6751b;
  border-radius: 1em;
  border: whitesmoke 0.4em outset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cinzel", serif;
  font-size: 1.2em;
  font-weight: bolder;
}

.datos p {
  padding: 1em 2em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding: 0 1em;
  font-size: 1.1em;
}

.datos p:hover {
  padding: 1em 2em;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

/*---------------------------------------------------------------------------------------------------------------*/

.contenedorSalonCampeones {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: aliceblue;
}

.contenedorCarriles {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#botonesCarriles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  justify-content: center;
  grid-gap: 2em;
  align-items: stretch;
  justify-items: center;
}

#contenedorBotonesCarriles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#botonAtras {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 2em;
  margin-left: 5em;
}

#atrasBtn {
  border-radius: 5px;
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #c8aa6e;
  background-color: #070d15;
  border-color: #a6751b;
  border-width: 0.14em;
  border-style: solid;
}

#atrasBtn:hover {
  color: white;
  border-color: white;
}

#contenedorBotonesCarriles h3 {
  color: aliceblue;
  font-size: 3em;
  font-family: "Cinzel", serif;
  margin-top: 2em;
}

.superior {
  border-radius: 5px;
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #c8aa6e;
  background-color: #070d15;
  border-color: #a6751b;
  border-width: 0.14em;
  border-style: solid;
}

.superior:hover {
  color: white;
  border-color: white;
}

.jungla {
  border-radius: 5px;
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #c8aa6e;
  background-color: #070d15;
  border-color: #a6751b;
  border-width: 0.14em;
  border-style: solid;
}
.jungla:hover {
  color: white;
  border-color: white;
}

.central {
  border-radius: 5px;
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #c8aa6e;
  background-color: #070d15;
  border-color: #a6751b;
  border-width: 0.14em;
  border-style: solid;
}

.central:hover {
  color: white;
  border-color: white;
}
.inferior {
  border-radius: 5px;
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #c8aa6e;
  background-color: #070d15;
  border-color: #a6751b;
  border-width: 0.14em;
  border-style: solid;
}

.inferior:hover {
  color: white;
  border-color: white;
}

.soporte {
  border-radius: 5px;
  padding: 0.5em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #c8aa6e;
  background-color: #070d15;
  border-color: #a6751b;
  border-width: 0.14em;
  border-style: solid;
}

.soporte:hover {
  color: white;
  border-color: white;
}

.cajasCarrilesSuper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18em;
  height: 21em;
  margin-top: 25em;
}

.cajasCarrilesJun {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18em;
  height: 21em;
  margin-top: 15em;
}

.cajasCarrilesCen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18em;
  height: 21em;
  margin-top: 4em;
}

.cajasCarrilesInfe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18em;
  height: 21em;
  margin-top: 15em;
}

.cajasCarrilesSopor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18em;
  height: 21em;
  margin-top: 25em;
}

#contenedorBotones button {
  border-radius: 5px;
  padding: 0.7em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 2em;
  font-weight: bold;
  color: #a6751b;
}

#Organizar {
  display: none;
}

.enlace {
  display: flex;
  /*flex-basis: 40%;*/
  justify-content: flex-end;
  padding-right: 3em;
  width: 210px;
  /*border: 1px solid red;*/
}

.enlace a {
  font-family: "Cinzel", serif;
  font-size: 1.5em;
  color: aliceblue;
  text-decoration: none;
}

.divImgPrincipal {
  height: 40em;
}
.imgPrincipal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reseña {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 7em 0 7em;
}

.reseña h2 {
  font-size: 3em;
  color: aliceblue;
  font-family: "Cinzel", serif;
  margin-top: 2em;
  margin-bottom: 0;
}

.textoReseña {
  text-align: left;
  font-size: 1.7em;
  color: aliceblue;
  font-family: "Source Sans Pro", sans-serif;
}

.textoJuego {
  text-align: left;
  font-size: 1.7em;
  color: aliceblue;
  font-family: "Source Sans Pro", sans-serif;
}

.botones {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10em;
  margin-bottom: 5em;
  padding: 0 10em 0 10em;
  /*border: 1px solid red;*/
}

.carriles {
  border-radius: 5px;
  padding: 0.7em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 2em;
  font-weight: bold;
  color: #a6751b;
}

.estadisticas {
  border-radius: 5px;
  padding: 0.7em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: "Cinzel", serif;
  font-size: 2em;
  font-weight: bold;
  color: #a6751b;
}

#carriles h5 p {
  color: aliceblue;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #0d0e1d;
  align-items: center;
  justify-content: space-around;
  border-top: 0.3em solid #a6751b;
  bottom: 0;
  width: 100%;
  position: static;
  margin-top: 5em;
}

.autors {
  color: aliceblue;
  font-family: "Source Sans Pro", sans-serif;
}

.logoFinal {
  display: flex;
  justify-content: right;
  height: 2em;
  width: 7em;
  flex-basis: 60%;
  padding-right: 5em;
}

.imgLogoFinal {
  max-width: 100%;
  max-height: 100%;
}

.divImgPrincipal {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 1200px) {
  .divImgPrincipal {
    height: 100%;
  }
}
@media screen and (max-width: 640px) {
  .imgPrincipal {
    height: 300px;
    width: 640px;
  }

  h1 {
    font-size: 0.7em;
    width: 33%;
  }

  .contenedorLogo {
    width: 33%;
  }

  .enlace {
    width: 33%;
  }
}
